.main {
    top: 0; left: 0;
    position: absolute;
    height: 100vh; width: 100vw;
    background: #212121; }

.main .header {
    top: 0; left: 0;
    position: relative;
    height: 2vh; width: 100vw; }

.main .header #cachify {
    color: #ccc;
    margin-left: 0.5vw;
    vertical-align: 40%;
    display: inline-block; }

.main .header #favicon {
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-block;
    width: 2vw; height: 2vw; }

.main .header #endpoints {
    position: absolute;
    right: 1vw; 
    font-size: 15px;
    background: #161616;
    border: none;
    color: #1DB954;
    margin-top: 2vh; 
    width: 5vw; height: 2vw;
    cursor: pointer; }

.main .header #endpoints:focus {
    outline: none; }

.main .inner #opener {
    margin-top: 40vh;
    text-align: center;
    font-size: 72px; }

.main .inner #closer {
    margin-top: 2vh;
    text-align: center;
}

.main .inner #arrow {
    position: absolute;
}

.secondary {
    top: 100vh; left: 0;
    position: absolute;
    height: 100vh; width: 100vw;
    background: #212121; }



.secondary > .title:after {
    content: ' sadfasf';
    border-bottom: 1px solid #1DB954;
    display: flex;
    margin-top: -4vh;
    transform: scaleX(0.005); }

.secondary .cardarea {
    position: relative;
    display: flexbox;
    width: 75vw; height: 75vh;
    margin-top: 3vh;
    margin-left: 15vw;
}

.secondary .cardarea .card {
    display: inline-flex;
    margin-left: 6.5vw;
    margin-top: 10vh;
    justify-items: center;
    background: #161616;
    width: 25vw;
    height: 15vh; 
    transition-duration: 250ms;
    border-bottom: 2px solid transparent;
}

.secondary .cardarea .card:hover  {
    transform: translateY(-2vh);
    border-color:#1DB954; 
    transition-duration: 250ms; }

.secondary .cardarea .card .card-inner {
    padding: 1vh 1vh 1vw 1vw;
}

.secondary .cardarea .card .card-inner .title {
    display: flex;
    font-size: 20px;  }

.secondary .cardarea .card .card-inner .desc {
    font-size: 15px; }

.title,
#arrow {
    color: #1DB954; }

.desc {
    color: #CCCCCC; }

h1, 
h2, 
h3, 
p, 
a,
button {
    font-family: Roboto;
}

*::selection {
    background: rgba(29, 185, 84, 0.582); }

.title::selection {
    background: rgba(204, 204, 204, 0.28); }

body {
    margin: 0; }
html {
    overflow-x: hidden;
    overflow-y: auto; }


::-webkit-scrollbar {
    width: .25vw; 
    background: #535353; }   
::-webkit-scrollbar:hover {
    width:.5vw !important; }     
::-webkit-scrollbar-thumb {
    background: #1DB954; }
