@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: UniSansHeavy;
  src: url(./source/assets/fonts/uni-sans.heavy-caps.otf);
}

.nav
{
    background: #323232;
    height: 3vh; width: 100vw;
    
}

.nav > .nav-title 
{
    color: #ccc;
    margin-left: 2vw; 
    font-family: UniSansHeavy, Whitney, Arial, Helvetica, Arial, sans-serif;
}