@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: UniSansHeavy;
  src: url(./fonts/uni-sans.heavy-caps.otf);
}

.nav
{
    top: 0; left: 0;
    position: static;
    background: #323232;
    height: 4vh; width: 100vw;
    
}

.nav > .nav-title 
{
    color: #ccc;
    margin-left: 2vw; 
    font-family: UniSansHeavy, Whitney, Arial, Helvetica, Arial, sans-serif;
}